body, section, article, p, h1, ul, li {
  display: block;
  font: inherit;
  background: transparent;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: inherit;
  box-sizing: inherit;
}

.board {
  list-style: none;
  width: 432px;
  position: relative;
  background: #D3D3D3;
  padding: 20px;
  border-radius: 20px;
  float: left;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.start {
  float: right;
  clear: right;
}

body {
  padding: 20px;
}

section {
  text-align: center;
  width: 700px;
  background: #FADADD;
  margin: auto;
  border: 5px solid black;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
}

.score {
  width: 200px;
  float: right;
}

h1 {
  font-size: 26px;
  padding: 10px;
}

.board li {
  display: block;
  float: left;
  height: 52px;
  width: 52px;
  margin: 1px;
  left: 0;
  top: 0;
  position: relative;
  box-sizing: border-box;
}

.board .to-left {
  left: -54px;
  transition: left 0.3s;
}

.board .to-top {
  top: -54px;
  transition: top 0.3s;
}

.board .to-right {
  left: 54px;
  transition: left 0.3s;
}

.board .to-bottom {
  top: 54px;
  transition: top 0.2s;
}


.board .yellow {
  border: 0;
}

.board .yellow:after {
  border-top: 0;
  width: 0;
  height: 0;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  border-top: 40px solid yellow;
  position: absolute;
  content: "";
  top: 12px;
  left: 0px;
}

.board .yellow:before {
  content: "";
  border-radius: 0;
  border-top: 0;
  width: 0;
  height: 0;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  border-bottom: 40px solid yellow;
  left: 0;
  position: absolute;
}

.board .green {

}

.board .green:after {
  content: "";
  position: absolute;
  width: 52px;
  height: 52px;
  left: -15px;
  top: -15px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 green;
}

.board .orange {
  border: 26px solid orange;
  border-radius: 50%;
  border-right: 26px solid transparent;
}

.board .purple {
  border: 26px solid purple;
  border-radius: 50%;
}

.board .blue {
  border-bottom: 52px solid blue;
  border-right: 26px solid transparent;
  border-left: 26px solid transparent;
}

.board .white {
  background: white;
}

.board .white:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 15px solid white;
  border-left: 15px solid #D3D3D3;
  border-right: 15px solid #D3D3D3;
  width: 22px;
  height: 0;
}

.board .white:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 15px solid white;
  border-left: 15px solid #D3D3D3;
  border-right: 15px solid #D3D3D3;
  width: 22px;
  height: 0;
}

.board .red {
}


.board .red:before {
  content: "";
  height: 52px;
  position: absolute;
  width: 12px;
  background: red;
  left: 20px;
}

.board .red:after {
  background: red;
  content: "";
  height: 12px;
  left: 0px;
  position: absolute;
  top: 20px;
  width: 52px;
}

.board .black {

}

.board .black:after {
  content: "";
  position: absolute;
  border-top: 26px solid black;
  border-right: 26px solid transparent;
  border-left: 26px solid transparent;
  left:0;
  bottom: 0;
}

.board .black:before {
  content: "";
  position: absolute;
  border-bottom: 26px solid black;
  border-right: 26px solid transparent;
  border-left: 26px solid transparent;
  left:0;
  top: 0;
}

.board .selected {
  height: 52px;
  width: 52px;
  position: relative;
}

.board .match {
  opacity: 0;
  /*background: #FF00FF*/
  /*transition: opacity 1s;*/
}

.board .remove {
  background: transparent;
  border: 0;
  margin: 2px;
}

.timer {
  clear: both;
  width: 650px;
  height: 50px;
  background: red;
  margin: 10px auto;
  border-radius: 20px;
}

section.bejeweled {}
